* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.item {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.caption {
  display: block;
}
@media (min-width: 600px) {
  .caro {
    margin-top: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .slick .slide img {
    width: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .slick .slide img {
    width: auto;
  }
}
.slick {
  display: flex;
  justify-content: center;
}

.slick .slide img {
  height: 700px;
}
.image {
  height: 700px;
}
